.sobre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box;
}

.sobre-esq, .sobre-dir {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 40%;
}
h1 {
  font-size: 3.5em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  font-weight: 700;
}
