.projetos-container {
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

.conteudo {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 80px;
}
.projeto-esq {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  flex: 1;
}

.subtitulo {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-img img,
.card-img Image {
  border-radius: 12px;
  display: block;
  background-color: black;
  
}
.projeto-dir {
  flex: 1.3; 
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 70px;
}
h3,p {
  font-size:1em;
  font-weight: 700;
}
.projeto-link{
  color: blue;
}
.projeto-link :hover{
  color: rgb(0, 200, 255);
}

/* ----- Responsivo ----- */
@media (max-width: 900px) {
  .conteudo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .projeto-esq {
    align-items: center;
  }

  .projeto-dir {
    text-align: center;
  }
}
